{
	"printWidth": 100,
	"trailingComma": "es5",
	"tabWidth": 4,
	"useTabs": true,
	"vueIndentScriptAndStyle": true,
	"endOfLine": "auto",
	"htmlWhitespaceSensitivity": "ignore",
	"requirePragma": false,
	"insertPragma": false
}
